@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.body {
  width: 100%;
  height: calc(100vh - 80px);
  background: #0a0a0a;
}
.theme-light .body .homeTop {
  color: white;
}
.theme-light .body .homeTop .right .outer img, .theme-light .body .homeTop .right .inner img {
  animation: rotateRight 25s linear infinite;
  transform-origin: center;
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.theme-light .body .homeTop .right .middle img {
  animation: rotateLeft 25s linear infinite;
  transform-origin: center;
}
@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.theme-light .body .homeSection {
  background: white;
  min-height: calc(100vh - 80px);
  color: black;
}
.theme-dark .body .homeTop {
  color: white;
}
.theme-dark .body .homeTop .right .outer img, .theme-dark .body .homeTop .right .inner img {
  animation: rotateRight 25s linear infinite;
  transform-origin: center;
}
@keyframes rotateRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.theme-dark .body .homeTop .right .middle img {
  animation: rotateLeft 25s linear infinite;
  transform-origin: center;
}
@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.theme-dark .body .homeSection {
  background: #1c1f22;
  min-height: calc(100vh - 80px);
  color: white;
}

.theme-light .dashboardBody {
  height: calc(100vh - 80px);
  background: white;
  color: black;
}
.theme-light .dashboardBody .bodyContent .navigation {
  border-color: rgb(66, 66, 66);
}
.theme-light .dashboardBody .bodyContent .navigation .backBtn {
  background: #dfdfdf;
}
.theme-light .dashboardBody .bodyContent .navigation .backBtn:hover {
  background: black;
  color: white;
}
.theme-light .dashboardBody .bodyContent .fileTable {
  background: #dfdfdf;
}
.theme-light .dashboardBody .bodyContent .fileTable thead {
  background: rgb(34, 33, 33);
  color: white;
}
.theme-light .dashboardBody .bodyContent .fileTable tbody tr:hover {
  background: black;
  color: white;
}
.theme-light .dashboardBody .bodyContent .folderTable {
  background: #dfdfdf;
}
.theme-light .dashboardBody .bodyContent .folderTable thead {
  background: rgb(34, 33, 33);
  color: white;
}
.theme-light .dashboardBody .bodyContent .folderTable tbody tr:hover {
  background: black;
  color: white;
}
.theme-dark .dashboardBody {
  height: calc(100vh - 80px);
  background: #1c1f22;
  color: white;
}
.theme-dark .dashboardBody .bodyContent .navigation {
  border-color: rgb(138, 138, 138);
}
.theme-dark .dashboardBody .bodyContent .navigation .backBtn {
  background: #262c31;
}
.theme-dark .dashboardBody .bodyContent .navigation .backBtn:hover {
  background: white;
  color: #1c1f22;
}
.theme-dark .dashboardBody .bodyContent .fileTable {
  background: #262c31;
}
.theme-dark .dashboardBody .bodyContent .fileTable thead {
  background: #a6a7a9;
  color: #1c1f22;
}
.theme-dark .dashboardBody .bodyContent .fileTable tbody tr:hover {
  background: white;
  color: #1c1f22;
}
.theme-dark .dashboardBody .bodyContent .folderTable {
  background: #262c31;
}
.theme-dark .dashboardBody .bodyContent .folderTable thead {
  background: #a6a7a9;
  color: #1c1f22;
}
.theme-dark .dashboardBody .bodyContent .folderTable tbody tr:hover {
  background: white;
  color: #1c1f22;
}/*# sourceMappingURL=dashboard.css.map */