@import 'index.scss';

.leftbar{
    @include themify($themes){
        background: themed("backgroundSoft");
        border-color: themed('borderColor');
        .leftBarSection{
            color: themed("textColor");
            .leftbarHeader{
                color: themed("textColorSoft");
            }
            .leftbarItem:hover{
                background:themed('background');
            }
        }
       
    }
}
@media screen and (max-width:1024px) {
    .leftbar{
        height: fit-content;
    }
} 